body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e884e;
}

.slider {
  max-width: 60rem;
  min-width: 20rem;
  background-color: #6d5dbd;
  border: 3px solid black;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.slide__pic:nth-of-type(1) {
  background-color: royalblue;
}

.slide__pic:nth-of-type(2) {
  background-color: wheat;
}

.slide__pic:nth-of-type(3) {
  background-color: plum;
}

.slide__pic:nth-of-type(4) {
  background-color: brown;
}

.slider__pic-wrapper {
  order: 1;

  height: 70vh;
}

.slider__text-wrapper {
  order: 3;

  align-items: center;
}

.slide__pic {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.slide__pic img {
  border: 3px solid black;
  width: 100%;
}

.slide__text {
  font-family: "Courier New", Courier, monospace;
  color: black;
  margin-bottom: 3rem;
  padding-left: 1rem;
  flex-shrink: 0;
  width: 100%;
  font-size: 1.75rem;
}

#slide1:checked ~ .slider__wrapper {
  transform: translateX(0);
}

#slide2:checked ~ .slider__wrapper {
  transform: translateX(-100%);
}

#slide3:checked ~ .slider__wrapper {
  transform: translateX(-200%);
}

#slide4:checked ~ .slider__wrapper {
  transform: translateX(-300%);
}
