* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e884e;
}

input {
  display: none;
}

.slider {
  display: grid;
  max-width: 60rem;
  min-width: 20rem;
  overflow: hidden;
  background-color: #6d5dbd;
  border: 3px solid black;
  grid-template:
    "img img"
    "text page";
  grid-template-columns: 1fr 0;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.slide__pic:nth-of-type(1) {
  background-color: royalblue;
}

.slide__pic:nth-of-type(2) {
  background-color: wheat;
}

.slide__pic:nth-of-type(3) {
  background-color: plum;
}

.slide__pic:nth-of-type(4) {
  background-color: brown;
}

.slider__pic-wrapper {
  order: 1;
  grid-area: img;
  height: 70vh;
}

.slider__text-wrapper {
  order: 3;
  grid-area: text;
  align-items: center;
}

.slide__pic {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  border-bottom: 3px solid black;
}

.slide__pic img {
  border: 3px solid black;
  width: 100%;
  border-radius: 3%;
}

.slide__text {
  font-family: "Courier New", Courier, monospace;
  color: black;
  margin-top: 3rem;

  margin-bottom: 3rem;
  padding-left: 1rem;
  flex-shrink: 0;
  width: 100%;
  font-size: 1.75rem;
}

.slider__pagination-wrapper {
  grid-area: page;
  display: flex;
  justify-content: end;
  z-index: 1;
  order: 2;
}

.pagination {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
}

.pagination__marker {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 30%;
  background-color: #5b1981;
  transition: background-color 0.2s ease-in;
}

.pagination:hover .pagination__marker {
  background-color: #a51b83;
  transition: background-color 0.2s ease-in;
}

#slide1:checked ~ .slider__wrapper {
  transform: translateX(0);
}

#slide2:checked ~ .slider__wrapper {
  transform: translateX(-100%);
}

#slide3:checked ~ .slider__wrapper {
  transform: translateX(-200%);
}

#slide4:checked ~ .slider__wrapper {
  transform: translateX(-300%);
}

#slide1:checked ~ .slider__pagination-wrapper > .page1 > .pagination__marker,
#slide2:checked ~ .slider__pagination-wrapper > .page2 > .pagination__marker,
#slide3:checked ~ .slider__pagination-wrapper > .page3 > .pagination__marker,
#slide4:checked ~ .slider__pagination-wrapper > .page4 > .pagination__marker {
  background-color: transparent;
  border: 2px solid #c002fa67;
}

#slide1:checked
  ~ .slider__pagination-wrapper
  > .page1:hover
  .pagination__marker,
#slide2:checked
  ~ .slider__pagination-wrapper
  > .page2:hover
  .pagination__marker,
#slide3:checked
  ~ .slider__pagination-wrapper
  > .page3:hover
  .pagination__marker,
#slide4:checked
  ~ .slider__pagination-wrapper
  > .page4:hover
  .pagination__marker {
  border-color: #8305a7d3;
}

@media screen and (max-width: 767px) {
  .slider {
    display: flex;
    flex-direction: column;
  }

  .slider__pagination-wrapper {
    justify-content: center;
  }
}
